## `Python Is Dynamically Typed`

In [1]:
# type checking is only performed when the program is run

In [2]:
name = "Andrew"

In [3]:
"Andrew" + 100

TypeError: TypeError: can only concatenate str (not "int") to str

In [4]:
if None:
    "Andrew" + 100

In [5]:
a = "Andrew"

In [6]:
type(a)

str

In [7]:
a = 2

In [8]:
type(a)

int

In [9]:
class Item:
    def __init__(self, price):
        self.price = price

In [10]:
i = Item(2.1)

In [11]:
type(i)

__main__.Item

In [12]:
i = 20

In [13]:
type(i)

int

In [14]:
# duck typing

## `Duck Typing`

* if it walks like a duck and it quacks like a duck, then it must be a duck

In [1]:
class Marlin:
    def swim(self):
        print("Marlin swimming fast")


class SeaHorse:
    def swim(self):
        print("Seahorse swimming slow")


class Eagle:
    def fly(self):
        print("Eagle flying high")

In [2]:
from random import choice

In [3]:
animals = [Marlin(), SeaHorse(), Eagle(), Eagle()]

In [4]:
chosen = choice(animals)

try:
    chosen.swim()
except AttributeError:
    print(f"{chosen.__class__.__name__} is not really a swimmer...")

Seahorse swimming slow

In [5]:
# LBYL

chosen = choice(animals)

swimmers = [SeaHorse, Marlin]

if chosen.__class__ in swimmers:
    chosen.swim()
else:
    print(f"{chosen.__class__.__name__} is not really a swimmer...")

Eagle is not really a swimmer...

In [6]:
# LBYL #2

chosen = choice(animals)

if hasattr(chosen, "swim"):
    if callable(chosen.swim):
        chosen.swim()
else:
    print(f"{chosen.__class__.__name__} is not really a swimmer...")

Eagle is not really a swimmer...

## `Protocols`

* in OOP, object protocols refer to a set of methods that should be supported/implemented to provide a given behavior
* Container protocol -> does it support membership checking with 'in'?

In [7]:
# telltale -> the in keyword

In [8]:
m = Marlin()
e = Eagle()

list_of_animals = [m, e]

In [9]:
m in list_of_animals

True

In [19]:
class Zoo:
    def __init__(self):
        self._population = []

    def __contains__(self, item):
        return item in self._population

    def __len__(self):
        return len(self._population)

    def add_animal(self, animal):
        self._population.append(animal)

In [20]:
m = Marlin()
e = Eagle()

zoo_of_animals = Zoo()

zoo_of_animals.add_animal(m)
zoo_of_animals.add_animal(e)

In [15]:
m in zoo_of_animals

True

In [16]:
# Sized protocol

In [17]:
len(list_of_animals)

2

In [21]:
len(zoo_of_animals)

2

## `The Making Of A Sequence`

In [22]:
# sequence -> ordered container of items

In [23]:
# tuples, lists, str

In [25]:
students = ["Carlo", "Tobi", "Rigers"]

* frist, membership testing/cehcking with the 'in' keyword

In [32]:
'Rigers' in students

True

In [33]:
'Rogers' in students

False

* second, indexing with square brackets

In [35]:
students[-1]

'Rigers'

In [36]:
students[0]

'Carlo'

* third, pythonic sequences are sliceable

In [37]:
students[1:3]

['Tobi', 'Rigers']

In [38]:
students[-2:]

['Tobi', 'Rigers']

In [39]:
# Sequence protocol
# __len__
# __getitem__

In [41]:
class Animal:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"{self.name}, {self.__class__.__name__.lower()}"


class Marlin(Animal):
    def swim(self):
        print(f"{repr(self)} if swimming fast")

class SeaHorse(Animal):
    def swim(self):
        print(f"{repr(self)} if swimming slow")

class Eagle(Animal):
    def fly(self):
        print(f"{repr(selse)} is flying high")

In [42]:
a1 = Marlin("Didi")
a2 = Eagle("Jackson")
a3 = SeaHorse("Xichi")
a4 = Eagle("Polly")

In [44]:
a1

Didi, marlin

In [45]:
a3

Xichi, seahorse

In [47]:
a3.swim()

Xichi, seahorse if swimming slow

## `ZooFavorites Sequence`

In [52]:
class Animal:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"{self.name}, {self.__class__.__name__.lower()}"


class Marlin(Animal):
    def swim(self):
        print(f"{repr(self)} if swimming fast")


class SeaHorse(Animal):
    def swim(self):
        print(f"{repr(self)} if swimming slow")


class Eagle(Animal):
    def fly(self):
        print(f"{repr(selse)} is flying high")

In [75]:
class ZooFavorites(object):
    def __init__(self):
        self._roster = []

    def add(self, animal):
        self._roster.append(animal)
    
    def insert(self, animal, position):
        self._roster.insert(position, animal)

    def __repr__(self):
        header = "##### ZooFavorites Roster ##### \n" + "-" * 30 + "\n"
        return header + "\n".join([f"#{idx + 1} {a}" for idx, a in enumerate(self._roster)])

    def __getitem__(self, idx):
        return self._roster[idx]

    def __len__(self):
        return len(self._roster)

In [76]:
# ["#1 - Didi", "#2 - Xichi"]

In [77]:
a1 = Marlin("Didi")
a2 = Eagle("Jackson")
a3 = SeaHorse("Xichi")
a4 = Eagle("Polly")

fame = ZooFavorites()

fame.add(a3)
fame.add(a2)
fame.insert(a4, 0)
fame.add(a1)

In [78]:
fame

##### ZooFavorites Roster #####
------------------------------
#1 Polly, eagle
#2 Xichi, seahorse
#3 Jackson, eagle
#4 Didi, marlin

In [79]:
fame._roster

[Polly, eagle, Xichi, seahorse, Jackson, eagle, Didi, marlin]

In [80]:
a3 in fame

True

In [81]:
fame[0]

Polly, eagle

In [82]:
fame[1:3]

[Xichi, seahorse, Jackson, eagle]

In [85]:
type(fame[:3])

list

In [84]:
fame

##### ZooFavorites Roster #####
------------------------------
#1 Polly, eagle
#2 Xichi, seahorse
#3 Jackson, eagle
#4 Didi, marlin

## `Pythonic Slicing`

In [107]:
class ZooFavorites(object):
    def __init__(self):
        self._roster = []

    def add(self, animal):
        self._roster.append(animal)
    
    def insert(self, animal, position):
        self._roster.insert(position, animal)

    def __repr__(self):
        header = "##### ZooFavorites Roster ##### \n" + "-" * 30 + "\n"
        return header + "\n".join([f"#{idx + 1} {a}" for idx, a in enumerate(self._roster)])

    def __getitem__(self, key):
        if type(key) == slice: # returns instances of ZooFaves
            cls = type(self)
            zf = cls()

            for animal in self._roster[key]:
                zf.add(animal)

            return zf
        
        elif type(key) == int:
            return self._roster[idx] # return the Animal subclass in that position
        
        return NotImplemented 

    def __len__(self):
        return len(self._roster)

In [108]:
a1 = Marlin("Didi")
a2 = Eagle("Jackson")
a3 = SeaHorse("Xichi")
a4 = Eagle("Polly")

fame = ZooFavorites()

fame.add(a3)
fame.add(a2)
fame.insert(a4, 0)
fame.add(a1)

In [109]:
fame[1:3]

##### ZooFavorites Roster #####
------------------------------
#1 Xichi, seahorse
#2 Jackson, eagle

In [110]:
type(fame[1:3])

__main__.ZooFavorites

In [111]:
fame

##### ZooFavorites Roster #####
------------------------------
#1 Polly, eagle
#2 Xichi, seahorse
#3 Jackson, eagle
#4 Didi, marlin

In [112]:
fame[::-1]

##### ZooFavorites Roster #####
------------------------------
#1 Didi, marlin
#2 Jackson, eagle
#3 Xichi, seahorse
#4 Polly, eagle

In [88]:
# python detour

In [90]:
regular_list = ["Andrew", "Jack", "Irvine", "Leo", "Leonid"]

In [92]:
regular_list[0], regular_list[1] # __getitem__

('Andrew', 'Jack')

In [93]:
regular_list[1:4] # __getitem__ is also called!

['Jack', 'Irvine', 'Leo']

In [94]:
class NoisyList(list):
    def __getitem__(self, item):
        print("__getitem__ received:", item)
        return super().__getitem__(item)

In [95]:
noisy_list = NoisyList(["Andrew", "Jack", "Irvine", "Leo", "Leonid"])

In [96]:
noisy_list[0]

__getitem__ received: 0

'Andrew'

In [97]:
noisy_list[2]

__getitem__ received: 2

'Irvine'

In [98]:
noisy_list[2:4]

__getitem__ received: slice(2, 4, None)

['Irvine', 'Leo']

In [100]:
list(range(2, 4))

[2, 3]

In [102]:
slice(2, 4, None) # could be used in extended indexing, whereas range cannot

slice(2, 4, None)

In [103]:
regular_list[slice(2,4,None)]

['Irvine', 'Leo']

In [104]:
regular_list[range(2,4)]

TypeError: TypeError: list indices must be integers or slices, not range

In [105]:
# end detour

In [119]:
class ZooFavorites(object):
    def __init__(self, *animals):
        self._roster = [*animals]

    def add(self, animal):
        self._roster.append(animal)
    
    def insert(self, animal, position):
        self._roster.insert(position, animal)

    def __repr__(self):
        header = "##### ZooFavorites Roster ##### \n" + "-" * 30 + "\n"
        return header + "\n".join([f"#{idx + 1} {a}" for idx, a in enumerate(self._roster)])

    def __getitem__(self, key):
        if type(key) == slice: # returns instances of ZooFaves
            return self.__class__(*self._roster[key])
        
        elif type(key) == int:
            return self._roster[idx] # return the Animal subclass in that position
        
        return NotImplemented 

    def __len__(self):
        return len(self._roster)

In [115]:
a1 = Marlin("Didi")
a2 = Eagle("Jackson")
a3 = SeaHorse("Xichi")
a4 = Eagle("Polly")

fame = ZooFavorites()

fame.add(a3)
fame.add(a2)
fame.insert(a4, 0)
fame.add(a1)

In [116]:
fame

##### ZooFavorites Roster #####
------------------------------
#1 Polly, eagle
#2 Xichi, seahorse
#3 Jackson, eagle
#4 Didi, marlin

In [117]:
fame[1:4]

##### ZooFavorites Roster #####
------------------------------
#1 Xichi, seahorse
#2 Jackson, eagle
#3 Didi, marlin

In [118]:
fame

##### ZooFavorites Roster #####
------------------------------
#1 Polly, eagle
#2 Xichi, seahorse
#3 Jackson, eagle
#4 Didi, marlin

## `BONUS: From Iteration To Iterables And Iterators`

* iteration
* iterable
* iterator

In [120]:
l = ['item1', 'item2', 'item3']

In [123]:
# iteration over a sequence: indexable and has a length
idx = 0

while idx < len(l):
    print(l[idx])
    idx += 1

item1
item2
item3

In [124]:
for i in l:
    print(i)

item1
item2
item3

In [125]:
s1 = {"orange", "apple", "watermelon"}

In [126]:
for i in s1:
    print(i)

watermelon
apple
orange

In [127]:
len(s1)

3

In [130]:
idx = 0

while idx < len(s1):
    print(s1[idx])
    idx += 1

TypeError: TypeError: 'set' object is not subscriptable

In [135]:
iterator = iter(s1)

In [139]:
next(iterator)

StopIteration: StopIteration:

In [140]:
iterator2 = iter(iterator)

In [141]:
iterator is iterator2

True

In [142]:
id(iterator2) == id(iterator)

True

## `BONUS: The Iterator Protocol`

* the way iterators and iterables work together

In [165]:
# __iter__
# __next__

In [166]:
s = {"a", "b"}

In [167]:
set_itertor = iter(s)

In [169]:
next(set_itertor)

'a'

In [170]:
name_string = "Andrew"

In [171]:
str_iterator = iter(name_string)

In [172]:
next(str_iterator), next(str_iterator), next(str_iterator), next(str_iterator)

('A', 'n', 'd', 'r')

In [173]:
i = 1

In [174]:
int_iterator = iter(i)

TypeError: TypeError: 'int' object is not iterable

In [191]:
class Forest:
    def __init__(self):
        self.i = 0
        self.dwellings = list() 

    def add(self, dweller):
        self.dwellings.append(dweller)

    def __iter__(self):
        return self

    def __next__(self):
        try:
            self.i += 1
            return self.dwellings[self.i - 1]
        except IndexError:
            self.i = 0
            raise StopIteration

In [194]:
iter(Forest())

In [195]:
f = Forest()

In [196]:
f.add("tree1")
f.add("tree2")

In [197]:
tree_iterator = iter(f)

In [198]:
for i in range(10):
    print(next(tree_iterator))

tree1
tree2

StopIteration: StopIteration:

## `BONUS: Extreme Duck Typing`

In [199]:
class Animal:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return f"{self.name}, {self.__class__.__name__.lower()}"


class Marlin(Animal):
    def swim(self):
        print(f"{repr(self)} if swimming fast")


class SeaHorse(Animal):
    def swim(self):
        print(f"{repr(self)} if swimming slow")


class Eagle(Animal):
    def fly(self):
        print(f"{repr(selse)} is flying high")

In [200]:
class ZooFavorites(object):
    def __init__(self):
        self._roster = []

    def add(self, animal):
        self._roster.append(animal)

    def insert(self, animal, position):
        self._roster.insert(position, animal)

    def __repr__(self):
        header = "##### ZooFavorites Roster ##### \n" + "-" * 30 + "\n"
        return header + "\n".join([f"#{idx + 1} {a}" for idx, a in enumerate(self._roster)])

    def __getitem__(self, idx):
        return self._roster[idx]

    def __len__(self):
        return len(self._roster)

In [201]:
a1 = Marlin("Didi")
a2 = Eagle("Jackson")
a3 = SeaHorse("Xichi")
a4 = Eagle("Polly")

fame = ZooFavorites()

fame.add(a3)
fame.add(a2)
fame.insert(a4, 0)
fame.add(a1)

In [202]:
fame

##### ZooFavorites Roster #####
------------------------------
#1 Polly, eagle
#2 Xichi, seahorse
#3 Jackson, eagle
#4 Didi, marlin

In [205]:
for animal in fame:
    print(animal)

Polly, eagle
Xichi, seahorse
Jackson, eagle
Didi, marlin

In [206]:
zoofaves_iterator = iter(fame)

In [209]:
next(zoofaves_iterator)

Jackson, eagle

In [210]:
fame.__getitem__(0)

Polly, eagle

In [211]:
fame.__getitem__(1)

Xichi, seahorse

In [213]:
a1 in fame # __contains__

True