## `The Why`

In [1]:
# how to encapsulate data?

In [1]:
# EV -> store several instances of EVs

In [2]:
# range -> how long the car would go on a single charge
# make -> the manufacturer
# price -> how much does it cost

In [3]:
bolt = [417, "Chevrolet", 42000]
model_s = [520, "Tesla", 84000]
mx30 = [100, "Mazda", 35000]

In [5]:
# immutable?

In [6]:
bolt = (417, "Chevrolet", 42000)
model_s = (520, "Tesla", 84000)
mx30 = (100, "Mazda", 35000)

In [8]:
bolt[0] # this is range for the bolt!

417

In [9]:
bolt = {"range": 417, "make": "Chevrolet", "price": 42000}
model_s = {"range": 520, "make": "Tesla", "price": 84000}

In [10]:
model_s["range"]

520

In [11]:
bolt.get("make")

'Chevrolet'

In [13]:
# model_s.range

In [15]:
# create a new class!

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
class EV:
    def __init__(self, _range, make, price):
        self.range = _range
        self.make = make
        self.price = price

In [22]:
EV(417, "Chevrolet",42000).__dict__

{'range': 417, 'make': 'Chevrolet', 'price': 42000}

In [21]:
EV(520, "Tesla",84000).make

'Tesla'

## `An Alternative: Namedtuples`

In [23]:
from collections import namedtuple

In [24]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [25]:
ev1 = EV(417, "Chevrolet", 42000)

In [26]:
ev1

ElectricVehicle(range=417, make='Chevrolet', price=42000)

In [27]:
# object's __repr__ -> abominable

In [28]:
ev1[0]

417

In [29]:
ev1.range

417

In [30]:
EV2 = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=(100, "Tesla", 49000))

In [31]:
EV2(200)

ElectricVehicle(range=200, make='Tesla', price=49000)

In [32]:
def funny_function(a=None, b):
    pass

SyntaxError: SyntaxError: non-default argument follows default argument

In [33]:
EV3 = namedtuple("ElectricVehicle", ["range", "make", "price"], defaults=(49000, ))

In [37]:
other_tesla = EV3(100, "Tesla")

In [36]:
# _asdict()

In [38]:
other_tesla._asdict()

{'range': 100, 'make': 'Tesla', 'price': 49000}

In [39]:
EV4 = namedtuple("ElectricVehicle", "range make price", defaults=(49000, ))

In [40]:
other_tesla2 = EV4(100, "Tesla")

In [41]:
other_tesla

ElectricVehicle(range=100, make='Tesla', price=49000)

In [42]:
other_tesla2

ElectricVehicle(range=100, make='Tesla', price=49000)

## `BONUS: A Quick Point On Immutability`

In [15]:
EV = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [16]:
ev = EV(200, "Chevy", 49000)

In [0]:
# immutable

In [17]:
ev.range

200

In [19]:
# ev.range = 300

In [20]:
ev2 = EV([200, 300], "Chevy", 49000)

In [21]:
ev2.range

[200, 300]

In [23]:
type(ev2.range) # reference types

list

In [24]:
id(ev2.range)

139905447090944

In [25]:
ev2.range[0] = 250

In [26]:
ev2.range

[250, 300]

In [27]:
id(ev2.range)

139905447090944

In [28]:
ev3 = EV((200, 300), "Chevy", 49000)

In [29]:
ev3.range[0] = 250

TypeError: TypeError: 'tuple' object does not support item assignment

## `BONUS: Typed Namedtuples`

In [0]:
# since 3.6 -> typed namedtuples

In [39]:
from typing import NamedTuple

# from collections import namedtuple

In [40]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int

In [41]:
ev = EVehicle(100, "Tesla", 12000)

In [42]:
ev.range, ev.make, ev.price

(100, 'Tesla', 12000)

In [44]:
ev[0], ev[1], ev[2]

(100, 'Tesla', 12000)

In [45]:
ev.range = 600

AttributeError: AttributeError: can't set attribute

In [46]:
class EVehicle(NamedTuple):
    range: int
    make: str
    price: int

In [47]:
ev = EVehicle(100, "Tesla")

In [48]:
ev.price

39000

In [50]:
class EVehicle(NamedTuple):
    range: int    
    price: int
    make: str = "Tesla"

## `Dataclasses`

In [51]:
# * added to 3.7
# * fine tuned for storing state

In [52]:
from dataclasses import dataclass

In [54]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: int

In [55]:
class RegularElectricVehicle:
    def __init__(self, range, make, price):
        self.range = range
        self.make = make
        self.price = price

In [57]:
ev = ElectricVehicle(100, "Tesla", 3900)

In [58]:
ev.range, ev.make, ev.price

(100, 'Tesla', 3900)

## `Batteries Included`

In [0]:
# new requirement: add manufacturer_warranty

In [131]:
@dataclass(order=True)
class ElectricVehicle:
    range: int
    make: str
    price: int
    manufacturer_warranty: bool

In [129]:
from functools import total_ordering

@total_ordering
class RegularElectricVehicle(object):
    def __init__(self, range, make, price, manufacturer_warranty):
        self.range = range
        self.make = make
        self.price = price
        self.manufacturer_warranty = manufacturer_warranty

    def __repr__(self):
        return f"{type(self).__name__}(range={self.range}, make='{self.make}', price={self.price})"

    def __eq__(self, other):
        if not type(other) == type(self):
            return False

        return self.range == other.range and self.make == other.make and self.price == other.price

    def __gt__(self, other):
        if not type(other) == type(self):
            raise TypeError("Only operations between REV are supported")

        return (other.range, other.make, other.price) < (self.range, self.make, self.price)

    # def __ge__(self, other):
    #     ...

In [117]:
ev1 = ElectricVehicle(240, "Mazda", 34000)
ev2 = ElectricVehicle(240, "Mazda", 34000)
ev3 = ElectricVehicle(241, "Mazda", 34000)

In [124]:
rev1 = RegularElectricVehicle(140, "Jeep", 54000)
rev2 = RegularElectricVehicle(140, "Jeep", 54000)

In [113]:
# 3. comparison operators

In [119]:
ev1 > ev2

False

In [120]:
ev3 > ev2

True

In [125]:
rev1 > rev2

False

In [127]:
rev1 <= rev2

TypeError: TypeError: '<=' not supported between instances of 'RegularElectricVehicle' and 'RegularElectricVehicle'

In [109]:
# 2. equality

In [110]:
ev1 == ev2

True

In [111]:
ev1 == ev3

False

In [112]:
rev1 == rev2 # object's __eq__

True

In [105]:
id(rev1), id(rev2)

(139905443892192, 139905443890944)

In [94]:
# 1. repr

In [91]:
ev1

ElectricVehicle(range=240, make='Mazda', price=34000)

In [92]:
rev1 # object's __reprp__

RegularElectricVehicle(range=140, make='Jeep', price=54000)

## `Type Hints`

In [4]:
@dataclass(order=True) 
class ElectricVehicle:
    range: int
    make: str
    price: int

In [6]:
ev = ElectricVehicle("Andrew", 10, 23000)

In [7]:
ev.range

'Andrew'

In [8]:
from typing import Any

In [11]:
@dataclass(order=True) 
class ElectricVehicle:
    range: Any
    make: str
    price: int

In [13]:
ev = ElectricVehicle("Andrew", "Tesla", 23000)

In [14]:
@dataclass(order=True) 
class ElectricVehicle:
    range: object
    make: object
    price: object

In [15]:
@dataclass(order=True) 
class ElectricVehicle:
    range: ...
    make: ...
    price: ...

In [16]:
ev = ElectricVehicle("Andrew", "Tesla", 23000)

## `Customizing Fields`

In [26]:
@dataclass(order=True) 
class ElectricVehicle:
    range: int
    make: str = "Tesla"
    price: int = "56000"

In [18]:
# fields

In [27]:
ev = ElectricVehicle(420)

In [28]:
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': '56000'}

In [29]:
from dataclasses import field

In [36]:
@dataclass(order=True) 
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)

In [37]:
ev = ElectricVehicle(420)
ev2 = ElectricVehicle(421)

In [38]:
ev > ev2

False

In [39]:
ev2 >= ev

True

In [35]:
ev

ElectricVehicle(range=420, make='Tesla')

In [32]:
ev.__dict__

{'range': 420, 'make': 'Tesla', 'price': '56000'}

In [50]:
from functools import total_ordering

@total_ordering
@dataclass
class ElectricVehicle:
    range: int = field()
    make: str = field(default="Tesla")
    price: int = field(default=56000, repr=False)

    def __gt__(self, other):
        if not type(self) == type(other):
            return NotImplemented

        return self.price < other.price

In [51]:
ev = ElectricVehicle(420) # 56000
ev2 = ElectricVehicle(421, price=56001)

In [52]:
ev > ev2

True

In [53]:
ev >= ev2

True

## `BONUS: Further Customization`

In [56]:
@dataclass(order=True) 
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)
    luxury: bool = False

In [58]:
# what is luxury?
    # * a price that is greater than 80k and
    # * a make that is BMW, Mercedez, or Tesla

In [0]:
ev = ElectricVehicle(100, "Tesla", 40000, False)
ev = ElectricVehicle(100, "BMW", 140000, True)
ev = ElectricVehicle(100, "Audi", 30000, False)

In [64]:
@dataclass(order=True) 
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)
    luxury: bool = False

    def __post_init__(self):
        luxury_brands = ["BMW", "Mercedez", "Tesla"]

        self.luxury = self.make in luxury_brands and self.price > 80000

In [62]:
ev = ElectricVehicle(100, "Tesla", 140000)

In [63]:
ev.__dict__

{'range': 100, 'make': 'Tesla', 'price': 140000, 'luxury': True}

In [65]:
ev = ElectricVehicle(100, "Tesla", 140000, False)

In [66]:
ev.__dict__

{'range': 100, 'make': 'Tesla', 'price': 140000, 'luxury': True}

In [71]:
@dataclass(order=True) 
class ElectricVehicle:
    LUXURY_BRANDS = ("BMW", "Mercedez", "Tesla")

    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)
    luxury: bool = None

    def __post_init__(self):
        if self.luxury is None:
            self.luxury = self.make in self.LUXURY_BRANDS and self.price > 80000

In [72]:
ev = ElectricVehicle(100, "Tesla", 140000, False)

In [73]:
ev.__dict__

{'range': 100, 'make': 'Tesla', 'price': 140000, 'luxury': False}

## `Immutability`

In [83]:
@dataclass(order=True) 
class ElectricVehicle:
    range: int = field(compare=True)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)

In [84]:
ev = ElectricVehicle(100, "BMW", 140000)

In [86]:
ev.range = 200

In [87]:
# read-only property

In [8]:
class ElectricVehicle2:
    def __init__(self, range, make, price):
        self.__range = range
        self.__make = make
        self.__price = price

    @property
    def range(self):
        return self.__range

    @property
    def make(self):
        return self.__make

    @property
    def price(self):
        return self.__price

In [9]:
ev = ElectricVehicle2(100, "BMW", 140000)

In [10]:
ev.__dict__

{'_ElectricVehicle2__range': 100,
 '_ElectricVehicle2__make': 'BMW',
 '_ElectricVehicle2__price': 140000}

In [11]:
ev.make = "Tesla"

AttributeError: AttributeError: can't set attribute

In [21]:
from dataclasses import dataclass, field

@dataclass(order=True, frozen=True) 
class ElectricVehicle:
    range: int = field(compare=True, hash=False)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)

In [15]:
ev = ElectricVehicle(100, "BMW", 140000)

In [18]:
ev.range = 200

FrozenInstanceError: FrozenInstanceError: cannot assign to field 'range'

In [19]:
# frozen = True -> immutable + hashable

In [20]:
{
    ElectricVehicle(100, "BMW", 140000): {
        "customers": 10,
        "tags": ["dream car", "superb"]
    }
}

{ElectricVehicle(range=100, make='BMW'): {'customers': 10,
  'tags': ['dream car', 'superb']}}

In [23]:
ev = ElectricVehicle(100, "BMW", 140000) 
ev2 = ElectricVehicle(120, "BMW", 140000)

In [24]:
hash(ev), hash(ev2)

(5740354900026072187, 5740354900026072187)

## `Inheritance`

In [32]:
@dataclass(order=True) 
class ElectricVehicle: # EV
    range: int = field(compare=True, hash=False)
    make: str = field(default="Tesla", compare=False)
    price: int = field(default="56000", repr=False, compare=False)

In [38]:
@dataclass
class LuxuriousElectricVehicle(ElectricVehicle): # LEV
    displays: int = 3
    scent_system: bool = True
    internet: bool = True
    price: int = 100000

In [34]:
lev = LuxuriousElectricVehicle(100)

In [35]:
lev

LuxuriousElectricVehicle(range=100, make='Tesla', price=100000, displays=3, scent_system=True, internet=True)

In [36]:
lev.__dict__

{'range': 100,
 'make': 'Tesla',
 'price': 100000,
 'displays': 3,
 'scent_system': True,
 'internet': True}

## `Why Not Just Namedtuples?`

In [39]:
from collections import namedtuple

EVNT = namedtuple("ElectricVehicle", ["range", "make", "price"])

In [41]:
from dataclasses import make_dataclass

In [42]:
EVDC = make_dataclass("ElectricVehicle", ["range", "make", "price"])

In [43]:
EVNT(100, "BMW", 74000)

ElectricVehicle(range=100, make='BMW', price=74000)

In [44]:
LEVNT = namedtuple("LuxuryElectricVehicle", ["mini_displays", "scent_system", "internet"])

In [45]:
LEVNT(100, "BMW", 74000)

LuxuryElectricVehicle(mini_displays=100, scent_system='BMW', internet=74000)

In [46]:
EVNT(100, "BMW", 74000) == LEVNT(100, "BMW", 74000)

True

In [47]:
(100, "BMW", 74000) == (100, "BMW", 74000)

True

In [50]:
@dataclass
class ElectricVehicle:
    range: int
    make: str
    price: bool


@dataclass
class LuxuryElectricVehicle:
    mini_displays: int
    scent_system: str
    internet: bool

In [51]:
ElectricVehicle(100, "BMW", 74000) == LuxuryElectricVehicle(100, "BMW", 74000)

False

In [52]:
LEVNT(100, "BMW", 74000)

LuxuryElectricVehicle(mini_displays=100, scent_system='BMW', internet=74000)

In [53]:
@dataclass(frozen=True)
class ElectricVehicle:
    range: int
    make: str
    price: bool

In [54]:
LEVNT = namedtuple("LuxuryElectricVehicle", ["mini_displays", "scent_system", "internet"], defaults=(100,))

In [55]:
@dataclass(frozen=True)
class ElectricVehicle:
    range: int
    make: str = "Tesla"
    price: bool = True